<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% if page.title %}
        {{ page.title }}_The Wade Tao | ruby on rails,ruby,mysql,linux,神话,哲学
      {% else %}
        The Wade Tao | ruby on rails,ruby,mysql,linux,神话,哲学
      {% endif %}
    </title>
    <link rel="stylesheet" href="/stylesheets/greyezed.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen">
  </head>

  <body class="home blog admin-bar">
    <div id="main-wrapper">
      <div id="page">
    	<div id="nav">
    	  <ul>
	    <li><a class="selected" href="http://blog.wadexing.com/">Home</a></li>
  	  </ul>
  	  
  	  <ul>
	    <li class="page_item page-item-2"><a href="http://blog.wadexing.com/about/" title="About">About</a></li>
  	  </ul>
	</div>
	
	<div id="header" role="banner">
	  <h1><a href="http://blog.wadexing.com/">The Wade Tao</a></h1>
	  <div class="description">ruby on rails,ruby,mysql,linux,神话,哲学</div>
	  <div class="rss">stay updated via <a href="/feed.xml" title="RSS">rss</a> </div>
	</div>
	<hr>

	<div id="container">	
	  <div id="sidebar" role="complementary">

	    <div id="ads-placeholder"><div id="azk71839"></div></div>		
	    <div class="socialfooter">
	      <h2>Social Connections</h2>
	      <ul>
		<li class="facebook-link"><a href="#" target="_blank">Facebook</a></li>
		<li class="twitter-link"><a href="#" target="_blank">Twitter</a></li>
		<li class="flickr-link"><a href="#" target="_blank">Flickr</a></li>		
	      </ul>
	    </div>

	    <!-- begin widgetized sidebar 1 -->	
	    <ul>
	      
	    </ul>
	    <!-- end widgetized sidebar 1 -->	
	    
	  </div>

	  
	  <div id="content" role="main">
	    <div class="column">
	      <div class="post">
                {% include post_title.html %}
		<div class="entry">
		  {{content}}
		</div>
	      </div>

	    </div>
	  </div>

	  <hr>
	  <div id="footer" role="contentinfo"></div>
	</div>
      </div>
      <div id="footer-bott">
	<p>
	  Powered by <a href="http://blog.com">Blog.com</a>
	</p>
      </div> <!-- Wrapper -->
  </body>
</html>
